nav.contact-mediums
  a(href="phone://")
    img(src=require('assets/img/contact-mediums/icon-mobilephone.svg'))
  a(href="whatsapp://")
    img(src=require('assets/img/contact-mediums/icon-whatsapp.svg'))
  a(href="https://www.facebook.com/")
    img(src=require('assets/img/contact-mediums/icon-facebook.svg'))
  a(href="https://www.tiktok.com/")
    img(src=require('assets/img/contact-mediums/icon-tiktok.svg'))
  a(href="https://www.youtube.com")
    img(src=require('assets/img/contact-mediums/icon-youtube.svg'))
