include definitions
- const businessCard = require("/app/business-card.json")
- const API_KEY = "AIzaSyBs1x53BAlhd_2_PUJCgAkjxT7PTWDhnM8" 

+webpage('contact')
  section#contact-form
    include _contact-mediums-menu
    div(style="text-align:center;width:49%;display:inline-block;").left-column
      h1 Drop us a #[span.hilight-red line!]
      img(src=require("assets/img/security-camera.png"))
      h2 #[span.hilight-red Better yet,] see us in person!
      p.font-24px We love our costumers, so feel free to visit us during normal business hours
    div(style="display:none;width:49%").right-column
      form
        label(for="name") Name
        input(name="name" type="text")
        label(for="email") Email
        input(name="email" type="text" )
        label(for="message") Message
        textarea(name="message")
        button(type="submit") Send
  section.business-location
    iframe(width="1000", height="300",  style="border:0;margin:auto;", loading="lazy", allowfullscreen, referrerpolicy="no-referrer-when-downgrade", src=`https://www.google.com/maps/embed/v1/place?key=${API_KEY}&q=${encodeURIComponent(businessCard.address.street_line)},${businessCard.address.zip_code},${encodeURIComponent(businessCard.address.city)}`)
    //-div(style="width:100%;height:300px;background-color:white;margin:auto")
    div.address-footer
      div.business-card
        img.logo(style="max-height: 150px;margin-right: 52px" src=require("logo"))
        div.business-identity
          h1 HTS
          address.font-18px #{businessCard.address.street_line} #[br] #{businessCard.address.city}, #{businessCard.address.zip_code}, #{businessCard.address.country} #[br] #[a(href=`tel:${businessCard['contact-mediums'].telephone}`)= businessCard['contact-mediums'].telephone]
