include utils/definitions
+webpage('gallery')
  section#gallery.font-source-sans-pro
    include fragments/_contact-mediums-menu
    div.gallery-grid
      div(class="lg:text-48px").font-sanspro.first-column.text-35px.uppercase.font-black #[strong Remote #[span.text-red surveillance]]
      div.font-sanspro.first-column.text-26px.uppercase.font-bold #[strong For any situation]
    iframe(src="https://www.youtube.com/embed/6aYUIRDQXeQ?si=Sjr0p6wHqm4XUgi5", width="600px"  height="480px" title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
    video(style="max-width:100vw; display:block;" controls src=require("/app/content/gallery/10000000_7163011537144721_1077459981046187489_n.mp4"))
    video(style="max-width:100vw; display:block;" controls src=require("/app/content/gallery/408973694_7987952814565299_2151639067615700879_n.mp4"))
    video(style="max-width:100vw; display:block;" controls src=require("/app/content/gallery/408986732_7944107348952258_6413878186889933558_n.mp4"))
    video(style="max-width:100vw; display:block;" controls src=require("/app/content/gallery/429579999_7526408130809124_8248871087670448909_n.mp4"))

      div.centered-content
        //-div.blue-button.uppercase.leading-normal Get a quote

//-script(src=require("showcase-carousel"))
