include definitions
+webpage('gallery')
  section#gallery.font-source-sans-pro
    include _contact-mediums-menu
    div.gallery-grid
      div.first-column.font-48px.uppercase #[strong Remote #[span.hilight-red surveillance]]
      div.first-column.font-26px.uppercase #[strong For any situation]
      showcase-carousel.first-column
        iframe(src="https://www.youtube.com/embed/6aYUIRDQXeQ?si=Sjr0p6wHqm4XUgi5", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
        video(controls src=require("/app/content/gallery/10000000_7163011537144721_1077459981046187489_n.mp4"))
        video(controls src=require("/app/content/gallery/408973694_7987952814565299_2151639067615700879_n.mp4"))
        video(controls src=require("/app/content/gallery/408986732_7944107348952258_6413878186889933558_n.mp4"))
        img(src=require("/app/content/gallery/429041235_420303680346343_7139921496320262480_n.jpg"))
        img(src=require("/app/content/gallery/429101611_1583627492461926_5685218523127698971_n.jpg"))
        img(src=require("/app/content/gallery/429105298_718666270389474_8739134752344644796_n.jpg"))
        img(src=require("/app/content/gallery/429118693_7247758621971851_7765105672210395418_n.jpg"))
        img(src=require("/app/content/gallery/429120630_448064007546869_6935821526194977172_n.jpg"))
        img(src=require("/app/content/gallery/429120635_461820202838882_3179876544985369121_n.jpg"))
        img(src=require("/app/content/gallery/429122118_748054180634561_425063801657575427_n.jpg"))
        img(src=require("/app/content/gallery/429131137_410192865028929_5506833165587067136_n.jpg"))
        img(src=require("/app/content/gallery/429131163_367814389386996_1304886663369704851_n.jpg"))
        img(src=require("/app/content/gallery/429314518_1054535715607329_2810867044137228934_n.jpg"))
        img(src=require("/app/content/gallery/429375125_1146588666507779_7879018917634449447_n.jpg"))
        video(controls src=require("/app/content/gallery/429579999_7526408130809124_8248871087670448909_n.mp4"))
        img(src=require("/app/content/gallery/429634589_1051777352566820_1269985397397779558_n.jpg"))

      div.centered-content
        //-div.blue-button.uppercase Get a quote

script(src=require("showcase-carousel"))
