- const business = require("/app/business-card.json");

include utils/definitions
script(src=require("/app/js/form-processor.js"))
+webpage('quote')
  section.mx-auto.container.group(class="py-[40px] lg:w-auto")
    div(class="group-has-[#show-request-quote-form:checked]:hidden lg:grid lg:grid-cols-2").text-center
      div(class="lg:col-start-2 self-center w-[300px] lg:w-auto mx-auto")
        h1(class="lg:text-40px").font-sanspro.font-black.text-red.text-25px.uppercase Each location has it's#[br]#[span.text-blue own security needs]
        p(class="lg:text-24px lg:max-w-[384px]").mx-auto.font-barlow.font-semibold.leading-fit.text-18px.text-justify Tell us more about your security concerns so we can get started on a plan to address them
        p(class="lg:text-18px lg:max-w-[330px]").mx-auto.font-assistant.text-16px.font-medium.leading-normal Your time is valuable and we will make sure to get back to you as soon as posible
      img(src=require("assets/img/building-and-camera.png") class="lg:col-start-1 lg:row-start-1 lg:row-span-2")
      div(class="lg:col-start-2 text-center self-center")
        input#show-request-quote-form(type="checkbox").hidden
        label(for="show-request-quote-form")(class="lg:text-24px hover:cursor-pointer hover:shadow-sm max-w-[230px] mt-[60px]  p-[15_5_15_5]").rounded.inline-block.text-white.bg-red.text-18px.font-bold.leading-normal.shadow-bg.uppercase Request a quotation
      a(class="lg:text-36px").font-barlow.text-25px.font-semibold.leading-fit.contact-phone(href=`${business['contact-mediums'].telephone}`) #[h2 HTS #{business['contact-mediums'].telephone.replace(/^tel:\/\//, "")}]
      div
        include fragments/_contact-mediums-menu
    div(class="mx-auto w-[250px] lg:w-auto max-w-[900px] mx-[60px]").mx-auto.hidden(class="group-has-[#show-request-quote-form:checked]:block")
      h1.text-center(class="lg:text-48px").font-sanspro.text-35px.font-black.uppercase Request a #[span.text-red quotation]
      form(action=`${business['form-submit']}`)
        div(class="text-10px lg:text-14px").font-assistant.text-white.font-bold.leading-normal
          +labeled_input("Name")
          +labeled_input("Email")
          +labeled_input("Phone")
          +labeled_input("Zip code")
            div.relative(class="mt-[25px]")
            label.absolute.uppercase.rounded-sm.w-full.bg-gray-70.pointer-events-none.shadow(for="building-usage" class="after:content-[url(assets/img/arrow-head-down.svg)] after:right-0 after:absolute") Building usage
            select.shadow.bg-gray-50.rounded-sm.text-black.round-sm.w-full.shadow(id="building-usage", name="buiding-usage")
              option(value="business") Business
              option(value="residence") Residence
        div(class="lg:text-14px")(class="mt-[25px]").font-assistant.text-10px.text-white.font-bold.leading-normal
          label(class="mb-[7px] py-[0.5em] px-[0.825em]" for="square-footage").bg-gray-70.block.uppercase.rounded-sm.shadow Square footage of building and size of surrounding property
          textarea.rounded-sm.bg-gray-50.block.w-full(id="square-footage").shadow
        div.input-security-concerns.textarea-wrapper(class="lg:text-14px mt-[25px]").font-assistant.text-10px.text-white.font-bold.leading-normal
          label(class="mb-[7px] py-[0.5em] px-[0.825em]" for="concerns").shadow.bg-gray-70.block.uppercase.rounded-sm What are your security concerns
          textarea.rounded.shadow.bg-gray-50(id="concerns" class="h-[150px] lg:h-[230px]")
        div
          button(class="mt-[25px] p-[10_25] lg:text-14px").uppercase.rounded.shadow-bg.text-white.font-assistant.text-12px.font-bold.leading-normal.bg-blue(onclick="assambleEmail()") Send
      div.flex.flex-row(class="mt-[70px]")
        img.logo(src=require("logo") class="w-[80px] lg:w-[111px]")
        div(class="mx-[20px]")
          h1(class="lg:text-48px").font-sanspro.font-bold.leading-fit.text-30px HTS
          address(class="lg:text-18px").font-assistant.text-14px.leading-relaxed #{business.address.street_line} #[br] #{business.address.city} #{business.address.state}, #{business.address.zip_code}, #{business.address.country} #[br] #{business['contact-mediums'].telephone.replace("tel://", "")}

