- const business = require("/app/business-card.json");

include definitions
+webpage('quote')
  section#request-quote
    include _contact-mediums-menu
    div.row-wrapper
      div
        img(src=require("assets/img/building-and-camera.png"))
      div.centered-column.centered
        h1.hilight-red.font-40px Each location has it's
        h1.hilight-blue.font-40px own security needs
        p.font-24px #[strong Tell us more about your security concerns so we can get started on a plan to address them.]
        p.font-18px Your time is valuable and we will make sure to get back to you as soon as posible

        a.contact-phone(href=`tel:${business['contact-mediums'].telephone}`) #[h2 HTS #{business['contact-mediums'].telephone}]
        button.red-button Request a quotation
    div.hidden-content.form-wrapper
      h1 Request a #[span.hilight-red quotation]
      div
        form
          div.row-wrapper
            div.half-width
              div.input-wrapper
                label(for="name") Name
                input(id="name", name="name" )
              div.input-wrapper
                label(for="email") Email
                input(id="email", name="email")
              div.input-wrapper
                label(for="phone") Phone
                input(id="phone", name="email")
              div.input-wrapper
                label(for="zip-code") Zip code
                input(id="zip-code", name="zip-code")
              div
                label(for="usage") Building usage
                select(id="usage", name="usage")
                  option(value="business") Business
                  option(value="residence") Residence
            div.half-width
              div.textarea-wrapper
                label(for="square-footage") Square footage of building and size of surrounding property
                textarea(id="square-footage")
              div.textarea-wrapper
                label(for="concerns") What are your security concerns
                textarea(id="concerns")
          button.blue-button Send
        div.business-data
          img.logo(src=require("logo"), style="width: 10rem")
          div.business-address
            h1 HTS
            address #{business.address.street_line} #[br] #{business.address.city} #{business.address.state}, #{business.address.zip_code}, #{business.address.country} #[br] #{business['contact-mediums'].telephone}
